<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
      <title>CMS - Login page</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
      <link rel="stylesheet" href="/css/util.css" th:href="@{/css/util.css}" />
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <link href="http://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
      <link href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous"/>
	  <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	  <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	  <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	  <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	  <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	  <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
  </head>
  <body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-b-160 p-t-50">
				<form class="login100-form validate-form" th:action="@{/login}" method="post">
					<span class="login100-form-title p-b-10">
						CMS Tenant Login			
					</span>
					<span class="login100-form-title2 p-b-43">
					Example: tenant_1 / user / pw
			        <p th:if="${param.error}" class="error">Invalid user, password, or domain</p>
					</span>
					
					
					<div class="wrap-input200 rs3 validate-input" data-validate = "Tenant Name is required">
						<input type="text" id="tenant" name="tenant" class="input100" placeholder="Tenant" required autofocus/>
						<span class="label-input100">Tenant</span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate = "Tenant Name is required">
						<input type="text" id="username" name="username" class="input100" placeholder="Username" required autofocus/>
						<span class="label-input100">Username</span>
					</div>
					
					
					
					<div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
						<input type="password" id="password" name="password" class="input100" placeholder="Password" required autofocus/>
						<span class="label-input100">Password</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Sign in
						</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
  
    <script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
	<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
	<script th:src="@{/js/main.js}"></script>
  </body>
</html>